.hideObject {
    display: none;
  }

  .zerobadge0 {
    display: none;
  }
  
  .input-transparent {
    border: transparent;
  }
  
  input:focus {
    outline: none;
  }

  td {
    vertical-align: middle;
  }