<div class="row">
  <div class="col-xl-12 divForModuleTable">
    <nav aria-label="breadcrumb textStyle">
      <ol class="breadcrumb">
        <li class="breadcrumb-item">
          <a [routerLink]="['/admin', 'dashboard']"
            ><p class="dashboardStyle">
              <i class="fa fa-home" aria-hidden="true"></i> Dashboard
            </p></a
          >
        </li>
        <li class="breadcrumb-item dashboardActive" aria-current="page">
          Internal Orders Preparation
        </li>
        <button (click)="getCancelledParentOrder()">Burat Me</button>
      </ol>
    </nav>

    <mat-tab-group>
      <mat-tab>
        <ng-template mat-tab-label>
          Internal Orders
          &nbsp; <span class="badge badge-danger zerobadge{{ totalOrderRowCount }}">{{ totalOrderRowCount }}</span>
        </ng-template>
        <div class="col-sm-12" style="padding-top: 2em">
          <div class="d-flex">
            <div class="p-2">
              <div class="input-group searchBtnStyle">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><span class="fa fa-filter"></span
                  ></span>
                </div>
                <select
                  class="form-control"
                  id="drpSearchBy"
                  name="SearchBy"
                  [(ngModel)]="searchBy"
                >
                  <option value="department_name">DEPARTMENT</option>
                  <option value="mrs_req_desc">DESCRIPTION</option>       
                </select>
              </div>
            </div>

            <div class="p-2">
              <div class="input-group searchBtnStyle">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><span class="fa fa-search"></span
                  ></span>
                </div>
                <input
                  type="search"
                  class="form-control"
                  placeholder="Find here...."
                  id="txtSearchText"
                  autocomplete="off"
                  name="SearchText"
                  [(ngModel)]="searchText"
                  (keyup)="onSearchInternalOrder($event)"
                />
              </div>
            </div>
          </div>

          <!-- Table -->
          <div class="col-lg-12">
            <div class="d-flex">
              <div class="col-xl-12 col-lg-9 mx-auto scrollableTableMain">
                <table class="table table-striped table-bordered nowrap table-responsive-sm">
                  <tr class="text-light header-bg-color-um system-name">
                    <th>ID</th>
                      <th>
                          Preparation Date
                          <i class="fa fa-sort hand-icon" *ngIf="sortBy != 'is_approved_prepa_date' "
                              (click)="sortBy = 'is_approved_prepa_date'; sortOrder = 'ASC' "></i>

                          <i class="fa fa-sort-up hand-icon text-primary"
                              *ngIf="sortBy == 'is_approved_prepa_date' && sortOrder == 'ASC' "
                              (click)="sortOrder = 'DESC' "></i>

                          <i class="fa fa-sort-down hand-icon text-primary"
                              *ngIf="sortBy == 'is_approved_prepa_date' && sortOrder == 'DESC' "
                              (click)="sortOrder = 'ASC' "></i>
                      </th>
                      <th>Department</th>
                      <th>Description</th>
                      <th>Requested By</th>
                      <th>Total Item/s</th>
                      <th>Prepared Item/s</th>
                  </tr>

                  <tr
                      *ngFor="let item of InternalOrderList | filter: searchBy : searchText | sort : sortBy : sortOrder | paging : currentPageIndex : pageSize; let i = index">
                   <td>{{item.id}}</td>
                      <td>{{item.is_approved_prepa_date | date: "MM/dd/yyyy" }}</td>
                      <td>{{item.department_name}}</td>
                      <td>{{item.mrs_req_desc}}</td>
                      <td>{{item.mrs_requested_by}}</td>
                      <td>{{item.totalItems}}</td>
                      <td>{{item.totalPreparedItems}}</td>
                  </tr>
              </table>
              </div>
            </div>
          </div>

          <!-- Pagination -->
          <div class="col-lg-12">
            <ul class="pagination paginationStyle justify-content-center mt-1">
              <li class="page-item" (click)="onPageIndexClicked(currentPageIndex - 1)">
                  <a mat-stroked-button color="primary" class="mr-1 font-color-black" href="#"
                      onclick="return false">Prev</a>
              </li>

              <ng-container *ngIf="pages.length <= 10">
                  <li class="page-item" *ngFor="let page of pages"
                      [ngClass]="{ 'active': page.pageIndex == currentPageIndex}"
                      (click)="onPageIndexClicked(page.pageIndex)">
                      <a class="page-link" href="#" onclick="return false">{{page.pageIndex + 1}}</a>
                  </li>
              </ng-container>

              <ng-container *ngIf="pages.length > 10">
                  <li class="page-item" [ngClass]="{ 'active': currentPageIndex == 0}" (click)="onPageIndexClicked(0)">
                      <a class="page-link" href="#" onclick="return false">1</a>
                  </li>

                  <li class="page-item" [ngClass]="{ 'active': currentPageIndex == 1}" (click)="onPageIndexClicked(1)">
                      <a class="page-link" href="#" onclick="return false">2</a>
                  </li>

                  <li *ngIf="currentPageIndex > 1 && currentPageIndex < pages.length - 2">&nbsp;...&nbsp;</li>

                  <li class="page-item" [ngClass]=" 'active' " (click)="onPageIndexClicked(currentPageIndex)"
                      *ngIf="currentPageIndex > 1 && currentPageIndex < pages.length - 2">
                      <a class="page-link" href="#" onclick="return false">{{currentPageIndex + 1}}</a>
                  </li>

                  <li>&nbsp;...&nbsp;</li>

                  <li class="page-item" [ngClass]="{ 'active': currentPageIndex == pages.length - 2}"
                      (click)="onPageIndexClicked(pages.length - 2)">
                      <a class="page-link" href="#" onclick="return false">{{pages.length - 1}}</a>
                  </li>

                  <li class="page-item" [ngClass]="{ 'active': currentPageIndex == pages.length - 1}"
                      (click)="onPageIndexClicked(pages.length - 1)">
                      <a class="page-link" href="#" onclick="return false">{{pages.length}}</a>
                  </li>
              </ng-container>

              <li class="page-item" (click)="onPageIndexClicked(currentPageIndex + 1)">
                  <a mat-stroked-button color="primary" class="ml-1 font-color-black" href="#"
                      onclick="return false">Next</a>
              </li>
            </ul>
          </div>

        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          Prepared Orders
          &nbsp; <span class="badge badge-danger zerobadge{{ totalPreparedOrderRowCount }}">{{ totalPreparedOrderRowCount }}</span>
        </ng-template>

        <div class="col-sm-12" style="padding-top: 2em;">
          <div class="d-flex">
            <div class="p-2">
              <div class="input-group searchBtnStyle">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><span class="fa fa-filter"></span></span>
                </div>
                <select class="form-control" id="drpSearchBy" name="SearchBy" [(ngModel)]="searchBy">
                  <option value="department_name">DEPARTMENT</option>
                  <option value="mrs_req_desc">DESCRIPTION</option>               
                </select>
              </div>
            </div>

            <div class="p-2">
              <div class="input-group searchBtnStyle">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
                </div>
                <input type="search"
                autocomplete="off"
                class="form-control" placeholder="Find here...." id="txtSearchText" name="SearchText"
                  [(ngModel)]="searchText" (keyup)="onSearchPreparedOrder($event)" />
              </div>
            </div>
          </div>

          <!-- table -->
          <div class="col-lg-12">
            <div class="d-flex">
              <div class="col-xl-12 col-lg-9 mx-auto scrollableTableMain">
                <table class="table table-striped table-bordered nowrap table-responsive-sm" style="width:100%">
                  <thead>
                    <tr class="text-light header-bg-color-um system-name">
                      <th>ID</th>
                      <th>Preparation Date</th>
                      <th>Department</th>
                      <th>Description</th>
                      <th>Requested By</th>
                      <th>Total Item/s</th>
                      <th>Prepared Item/s</th>
          
                      <th class="text-center">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of PreparedOrderList | filter: searchBy : searchText | paging : currentPageIndexPreparedOrders : pageSize; let i = index">
                      <td>{{item.id}}</td>
                      <td>{{item.is_approved_prepa_date | date: "MM/dd/yyyy"}}</td>
                      <td>{{item.department_name}}</td>
                      <td>{{item.mrs_req_desc}}</td>
                      <td>{{item.mrs_requested_by}}</td>
                      <td>{{item.total_state_repack | number:'1.0':'en-US'}}
                      </td>
                      <td>{{item.totalPreparedItems | number:'1.0':'en-US'}}</td>
                
                      <td class="text-center">
                        <button (click)="onApproveClick(item)" data-toggle="modal" data-target="#preparedOrderApprovalModal"
                        data-backdrop="false" title="Edit" data-keyboard="false" class="editbtnStyle" color="success"
                        mat-stroked-button>
                        <span class="fa fa-eye"></span> View
                      </button>
        
        
        
                        <button (click)="approvedOrder(item)"                                                                  
                          class="editbtnStyle" color="primary"
                          mat-stroked-button>
                          <span class="fa fa-check-circle"></span> Approve
                        </button>
        
                        <button (click)="onCancelOrderClick(item)" data-toggle="modal" data-target="#cancelOrderModal"
                          data-backdrop="false" title="Edit" data-keyboard="false" class="editbtnStyle" color="warn"
                          mat-stroked-button>
                          <span class="fa fa-ban"></span> Cancel
                        </button>
        
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- pagination -->
          <div class="col-md-12">
            <ul class="pagination paginationStyle justify-content-center mt-1">
              <li class="page-item" (click)="onPageIndexClickedPreparedOrders(currentPageIndexPreparedOrders - 1)">
                <a mat-stroked-button color="primary" class="mr-1 font-color-black" href="#" onclick="return false">Prev</a>
              </li>

              <ng-container *ngIf="pagesPreparedOrders.length <= 10">
                <li class="page-item" *ngFor="let page of pagesPreparedOrders"
                  [ngClass]="{ 'link-active-paging': page.pageIndex == currentPageIndexPreparedOrders}"
                  (click)="onPageIndexClickedPreparedOrders(page.pageIndex)">
                  <a class="page-link" href="#" onclick="return false">{{page.pageIndex + 1}}</a>
                </li>
              </ng-container>

              <ng-container *ngIf="pagesPreparedOrders.length > 10">
                <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexPreparedOrders == 0}"
                  (click)="onPageIndexClickedPreparedOrders(0)">
                  <a class="page-link" href="#" onclick="return false">1</a>
                </li>

                <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexPreparedOrders == 1}"
                  (click)="onPageIndexClickedPreparedOrders(1)">
                  <a class="page-link" href="#" onclick="return false">2</a>
                </li>

                <li *ngIf="currentPageIndexPreparedOrders > 1 && currentPageIndexPreparedOrders < pagesPreparedOrders.length - 2">&nbsp;...&nbsp;</li>

                <li class="page-item" [ngClass]=" 'link-active-paging' " (click)="onPageIndexClickedPreparedOrders(currentPageIndexPreparedOrders)"
                  *ngIf="currentPageIndexPreparedOrders > 1 && currentPageIndexPreparedOrders < pagesPreparedOrders.length - 2">
                  <a class="page-link" href="#" onclick="return false">{{currentPageIndexPreparedOrders + 1}}</a>
                </li>

                <li>&nbsp;...&nbsp;</li>

                <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexPreparedOrders == pagesPreparedOrders.length - 2}"
                  (click)="onPageIndexClicked(pagesPreparedOrders.length - 2)">
                  <a class="page-link" href="#" onclick="return false">{{pagesPreparedOrders.length - 1}}</a>
                </li>

                <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexPreparedOrders == pagesPreparedOrders.length - 1}"
                  (click)="onPageIndexClicked(pagesPreparedOrders.length - 1)">
                  <a class="page-link" href="#" onclick="return false">{{pagesPreparedOrders.length}}</a>
                </li>
              </ng-container>

              <li class="page-item" (click)="onPageIndexClickedPreparedOrders(currentPageIndexPreparedOrders + 1)">
                <a mat-stroked-button color="primary" class="ml-1 font-color-black" href="#" onclick="return false">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          Dispatching
          &nbsp; <span class="badge badge-danger zerobadge{{totalDispatchingCount}}">{{totalDispatchingCount}}</span>
        </ng-template>

        <div class="col-sm-12" style="padding-top: 2em;">
          <div class="d-flex">
            <div class="p-2">
              <div class="input-group searchBtnStyle">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><span class="fa fa-filter"></span></span>
                </div>
                <select class="form-control" id="drpSearchBy" name="SearchBy" [(ngModel)]="searchBy">
                  <option value="department_name">DEPARTMENT</option>
                  <option value="mrs_req_desc">DESCRIPTION</option> 
                </select>
              </div>
            </div>

            <div class="p-2">
              <div class="input-group searchBtnStyle">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
                </div>
                <input type="search"
                autocomplete="off"
                class="form-control" placeholder="Find here...." id="txtSearchText" name="SearchText"
                  [(ngModel)]="searchText" (keyup)="onSearchDispatchOrders($event)" />
              </div>
            </div>
          </div>

          <!-- table -->
          <div class="col-lg-12">
            <div class="d-flex">
              <div class="col-xl-12 col-lg-9 mx-auto scrollableTableMain">
                <table class="table table-striped table-bordered nowrap table-responsive-sm" style="width: 100%">
                  <thead>
                    <tr class="text-light header-bg-color-um system-name">
                      <th>ID</th>
                      <th>Order No.</th>
                      <th>Preparation Date</th>
                      <th>Department</th>
                      <th>Description</th>
                      <th>Requested By</th>
                      <th>Total Item(s)</th>
                      <th class="text-center">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr
                      *ngFor="let item of DispatchOrderList | filter: searchBy : searchText | paging : currentPageIndexDispatching : pageSize; let i = index">
                     <td>{{item.id}}</td>
                      <td>{{item.wh_checker_move_order_no | number:'1.0':'en-US'}}</td>
                      <td>{{item.is_approved_prepa_date | date: "MM/dd/yyyy"}}</td>
                      <td>{{item.department_name}}</td>
                      <td>{{item.mrs_req_desc}}</td>
                      <td>{{item.mrs_requested_by}}</td>
                      <td>{{item.total_state_repack | number:'1.0':'en-US'}}</td>
                      <td class="text-center">
                        <button
                        (click)="onApproveClick(item)"
                          data-toggle="modal"
                          data-target="#DispatchingModal"
                          data-backdrop="false"
                          title="View"
                          data-keyboard="false"
                          class="editbtnStyle"
                          color="primary"
                          mat-stroked-button
                        >

                  
                          <span class="fa fa-eye"></span> View
                        </button>&nbsp;
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- pagination -->
          <div class="col-md-12">
            <ul class="pagination paginationStyle justify-content-center mt-1">
              <li class="page-item" (click)="onPageIndexClickedDispatching(currentPageIndexDispatching - 1)">
                <a mat-stroked-button color="primary" class="mr-1 font-color-black" href="#" onclick="return false">Prev</a>
              </li>

              <ng-container *ngIf="pagesDispatching.length <= 10">
                <li class="page-item" *ngFor="let page of pagesDispatching"
                  [ngClass]="{ 'link-active-paging': page.pageIndex == currentPageIndexDispatching}"
                  (click)="onPageIndexClickedDispatching(page.pageIndex)">
                  <a class="page-link" href="#" onclick="return false">{{page.pageIndex + 1}}</a>
                </li>
              </ng-container>

              <ng-container *ngIf="pagesDispatching.length > 10">
                <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexDispatching == 0}"
                  (click)="onPageIndexClickedDispatching(0)">
                  <a class="page-link" href="#" onclick="return false">1</a>
                </li>

                <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexDispatching == 1}"
                  (click)="onPageIndexClickedDispatching(1)">
                  <a class="page-link" href="#" onclick="return false">2</a>
                </li>

                <li *ngIf="currentPageIndexDispatching > 1 && currentPageIndexDispatching < pagesDispatching.length - 2">&nbsp;...&nbsp;</li>

                <li class="page-item" [ngClass]=" 'link-active-paging' " (click)="onPageIndexClickedDispatching(currentPageIndexDispatching)"
                  *ngIf="currentPageIndexDispatching > 1 && currentPageIndexDispatching < pagesDispatching.length - 2">
                  <a class="page-link" href="#" onclick="return false">{{currentPageIndexDispatching + 1}}</a>
                </li>

                <li>&nbsp;...&nbsp;</li>

                <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexDispatching == pagesDispatching.length - 2}"
                  (click)="onPageIndexClickedDispatching(pagesDispatching.length - 2)">
                  <a class="page-link" href="#" onclick="return false">{{pagesDispatching.length - 1}}</a>
                </li>

                <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexDispatching == pagesDispatching.length - 1}"
                  (click)="onPageIndexClickedDispatching(pagesDispatching.length - 1)">
                  <a class="page-link" href="#" onclick="return false">{{pagesDispatching.length}}</a>
                </li>
              </ng-container>

              <li class="page-item" (click)="onPageIndexClickedDispatching(currentPageIndexDispatching + 1)">
                <a mat-stroked-button color="primary" class="ml-1 font-color-black" href="#" onclick="return false">Next</a>
              </li>
            </ul>
          </div>
        </div>
      </mat-tab>

      <mat-tab>
        <ng-template mat-tab-label>
          Cancelled Transactions
          &nbsp; <span class="badge badge-danger zerobadge{{ totalCancelledOrderParent }}">{{ totalCancelledOrderParent }}</span>
        </ng-template>

        <div class="col-sm-12" style="padding-top: 2em;">
          <div class="d-flex">

            <div class="p-2">
              <div class="input-group searchBtnStyle">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><span class="fa fa-filter"></span
                  ></span>
                </div>
                <select
                  class="form-control"
                  id="drpSearchBy"
                  name="SearchBy"
                  [(ngModel)]="searchBy">
                  <option value="department_name">DEPARTMENT</option>
                  <option value="mrs_req_desc">DESCRIPTION</option> 
                </select>
              </div>
            </div>

            <div class="p-2">
              <div class="input-group searchBtnStyle">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"
                    ><span class="fa fa-search"></span
                  ></span>
                </div>
                <input
                  type="search"
                  autocomplete="off"
                  class="form-control"
                  placeholder="Find here...."
                  id="txtSearchText"
                  name="SearchText"
                  [(ngModel)]="searchText"
                  (keyup)="onSearchCancelledOrders($event)"
                />
              </div>
            </div>

          </div>

          <!-- table -->
          <div class="col-lg-12">
            <div class="d-flex">
              <div class="col-xl-12 col-lg-9 mx-auto scrollableTableMain">
                <table class="table table-striped table-bordered nowrap table-responsive-sm" style="width:100%">
                  <thead>
                      <tr class="text-light header-bg-color-um system-name">
                          <th>ID</th>
                          <th>Preparation Date</th>
                          <th>Department</th>
                          <th>Description</th>
                          <th>Requested By</th>
                          <th>Total Prepared Item(s)</th>
                          <th>Total Reject Item(s)</th>
                          <th class="text-center">Action</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr
                          *ngFor="let item of CancelledOrderList | filter: searchBy : searchText | paging : currentPageIndexCancelledOrder : pageSize; let i = index">
                         <td>{{item.mrs_id}}</td>
                          <td>{{item.is_approved_prepa_date | date: "MM/dd/yyyy" }}</td>
                          <td>{{item.department_name}}</td>
                          <td>{{item.mrs_req_desc}}</td>
                          <td>{{item.mrs_requested_by}}</td>
                          <td>{{item.totalPreparedItems | number}}</td>
                          <td>{{item.totalRejectItems | number}}</td>
                          <td class="text-center">
              
                            <button (click)="onViewCancelledClick(item)" data-toggle="modal" data-target="#preparedOrderCancelModal"
                            data-backdrop="false" title="View" data-keyboard="false" class="editbtnStyle" color="success"
                            mat-stroked-button>
                            <span class="fa fa-eye"></span> View
                          </button>
                          <ng-container *ngIf="item.is_wh_checker_cancel == 1">
                          <button (click)="onReturnParentPreparationOrderClick(item)"  title="Return" data-keyboard="false" class="editbtnStyle" color="success"
                          mat-stroked-button>
                          <span class="fa fa-undo"></span> Return
                        </button>
</ng-container>
                          </td>
                      </tr>
                  </tbody>
              </table>
              </div>
            </div>
          </div>

          <!-- pagination -->
          <div class="col-md-12">
            <ul class="pagination paginationStyle justify-content-center mt-1">
              <li class="page-item" (click)="onPageIndexClickedCancelledOrder(currentPageIndexCancelledOrder - 1)">
                  <a mat-stroked-button color="primary" class="mr-1 font-color-black" href="#"
                      onclick="return false">Prev</a>
              </li>

              <ng-container *ngIf="pagesCancelledTransaction.length <= 10">
                  <li class="page-item" *ngFor="let page of pagesCancelledTransaction"
                      [ngClass]="{ 'link-active-paging': page.pageIndex == currentPageIndexCancelledOrder}"
                      (click)="onPageIndexClickedCancelledOrder(page.pageIndex)">
                      <a class="page-link" href="#" onclick="return false">{{page.pageIndex + 1}}</a>
                  </li>
              </ng-container>

              <ng-container *ngIf="pagesCancelledTransaction.length > 10">
                  <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexCancelledOrder == 0}"
                      (click)="onPageIndexClickedCancelledOrder(0)">
                      <a class="page-link" href="#" onclick="return false">1</a>
                  </li>

                  <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexCancelledOrder == 1}"
                      (click)="onPageIndexClickedCancelledOrder(1)">
                      <a class="page-link" href="#" onclick="return false">2</a>
                  </li>

                  <li *ngIf="currentPageIndexCancelledOrder > 1 && currentPageIndexCancelledOrder < pagesCancelledTransaction.length - 2">&nbsp;...&nbsp;</li>

                  <li class="page-item" [ngClass]=" 'link-active-paging' " (click)="onPageIndexClickedCancelledOrder(currentPageIndexCancelledOrder)"
                      *ngIf="currentPageIndexCancelledOrder > 1 && currentPageIndexCancelledOrder < pagesCancelledTransaction.length - 2">
                      <a class="page-link" href="#" onclick="return false">{{currentPageIndexCancelledOrder + 1}}</a>
                  </li>

                  <li>&nbsp;...&nbsp;</li>

                  <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexCancelledOrder == pagesCancelledTransaction.length - 2}"
                      (click)="onPageIndexClickedCancelledOrder(pagesCancelledTransaction.length - 2)">
                      <a class="page-link" href="#" onclick="return false">{{pagesCancelledTransaction.length - 1}}</a>
                  </li>

                  <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexCancelledOrder == pagesCancelledTransaction.length - 1}"
                      (click)="onPageIndexClickedCancelledOrder(pagesCancelledTransaction.length - 1)">
                      <a class="page-link" href="#" onclick="return false">{{pagesCancelledTransaction.length}}</a>
                  </li>
              </ng-container>

              <li class="page-item" (click)="onPageIndexClickedCancelledOrder(currentPageIndexCancelledOrder + 1)">
                  <a mat-stroked-button color="primary" class="ml-1 font-color-black" href="#"
                      onclick="return false">Next</a>
              </li>
            </ul>
          </div>
        </div>

      </mat-tab>

    </mat-tab-group>

  </div>
</div>


<!-- Approval -->
<form [formGroup]="approvalForm" novalidate="novalidate" appClientLocationStatusValidator>
  <div class="modal" role="dialog" id="preparedOrderApprovalModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="width: auto;">
        <div class="modal-header bg-all">
          <div class="modal-title white-color">Prepared Orders Approval</div>
          <button type="button" class="close" data-dismiss="modal" (click)="CloseViewOrderRedirectToInternalOrder()"  #closeAddExpenseModal><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <mat-card class="text-bold">Internal Information
          </mat-card><br>

          <div class="form-row">
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput formControlName="prep_date" readonly="readonly">
                <mat-label>Preparation Date</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput formControlName="mrs_req_desc" readonly="readonly">
                <mat-label>Description</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput formControlName="department_name" readonly="readonly">
                <mat-label>Department Name</mat-label>
              </mat-form-field>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" matInput class="text-color" readonly="readonly" name="route" formControlName="mrs_requested_by">
                <mat-label>Requested By</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" matInput class="text-color" readonly="readonly" formControlName="mrs_requested_date">
                <mat-label>Requested Date</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput readonly="readonly" formControlName="recieving_date">
                <mat-label>Receiving Date</mat-label>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly" formControlName="id">
            <mat-label>id</mat-label>
          </mat-form-field>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly" formControlName="Is_wh_approved">
            <mat-label>Is_wh_approved</mat-label>
          </mat-form-field>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly" formControlName="Is_wh_approved_by">
            <mat-label>Is_wh_approved_by</mat-label>
          </mat-form-field>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly" formControlName="Is_wh_approved_date">
            <mat-label>Is_wh_approved_date</mat-label>
          </mat-form-field>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly"
              formControlName="Wh_checker_move_order_no">
            <mat-label>Wh_checker_move_order_no</mat-label>
          </mat-form-field>



          <div class="flex">
            <div class="box-1">
              <mat-card class="text-bold">Recieving Information </mat-card>
            </div>
            <div class="box-2">
              <mat-card class="text-bold">Move Order No. {{totalStoreOrderDispatching}}</mat-card>
            </div>
          </div>

          <div class="flex">
            <div class="box-1">
              <table class="table table-striped table-bordered nowrap table-responsive-sm" style="width: 100%"
                id="GridView2">
                <thead>
                  <tr>
                    <!-- <th>Parent</th> -->
                    <th>ID</th>
                    <th>Description</th>
                    <th>Uom</th>
                    <th>Serve</th>
                    <th class="hideObject">Total Items</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of itemList">
                    <!-- <td>{{item.fK_dry_wh_orders_parent_id}}</td> -->
                    <td>{{item.id}}</td>
                    <td>{{item.mrs_item_description}}</td>
                    <td>{{item.mrs_uom}}</td>
                    <td>{{item.prepared_allocated_qty | number}}</td>
                    <td class="hideObject">{{c | number}}</td>
                    <td class="text-center">
                

                      <button (click)="onCancelItemClick(item)" data-toggle="modal" data-target="#cancelOrderItemModal"
                      data-backdrop="false" data-keyboard="false" class="editbtnStyle" color="warn"
                      mat-stroked-button>
                      <span class="fa fa-ban"></span> cancel
                    </button>&nbsp;

                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div>
        </div>

        <!-- <div class="modal-footer">
          <button mat-stroked-button color="primary" id="ApproveButton" [hidden]="hideApproveButton" class="mr-2"
            (click)="approvedOrder()" [disabled]="!approvalForm.valid">Approve</button>
          <button [hidden]="true" mat-stroked-button color="warn" data-dismiss="modal"
            id="closeApprovalModal">Cancel</button>

          <ng-container *ngIf="hideApproveButton">
            <p style="color: red; margin:auto">
              You can't approve this order, due to cancelled Item/s!
            </p>
          </ng-container>

        </div> -->
      </div>
    </div>
  </div>
</form>




<!-- Cancelled Modal -->
<form [formGroup]="approvalForm" novalidate="novalidate" appClientLocationStatusValidator>
  <div class="modal" role="dialog" id="preparedOrderCancelModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="width: auto;">
        <div class="modal-header bg-all">
          <div class="modal-title white-color">Prepared Orders Cancelled</div>
          <button type="button" class="close" data-dismiss="modal" (click)="CloseViewOrderRedirectToInternalOrder()"  #closeAddExpenseModal><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <mat-card class="text-bold">Internal Information
          </mat-card><br>

          <div class="form-row">
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput formControlName="prep_date" readonly="readonly">
                <mat-label>Preparation Date</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput formControlName="mrs_req_desc" readonly="readonly">
                <mat-label>Description</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput formControlName="department_name" readonly="readonly">
                <mat-label>Department Name</mat-label>
              </mat-form-field>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" matInput class="text-color" readonly="readonly" name="route" formControlName="mrs_requested_by">
                <mat-label>Requested By</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" matInput class="text-color" readonly="readonly" formControlName="mrs_requested_date">
                <mat-label>Requested Date</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput readonly="readonly" formControlName="recieving_date">
                <mat-label>Receiving Date</mat-label>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly" formControlName="id">
            <mat-label>id</mat-label>
          </mat-form-field>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly" formControlName="Is_wh_approved">
            <mat-label>Is_wh_approved</mat-label>
          </mat-form-field>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly" formControlName="Is_wh_approved_by">
            <mat-label>Is_wh_approved_by</mat-label>
          </mat-form-field>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly" formControlName="Is_wh_approved_date">
            <mat-label>Is_wh_approved_date</mat-label>
          </mat-form-field>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly"
              formControlName="Wh_checker_move_order_no">
            <mat-label>Wh_checker_move_order_no</mat-label>
          </mat-form-field>



          <div class="flex">
            <div class="box-1">
              <mat-card class="text-bold">Recieving Information </mat-card>
            </div>
            <div class="box-2">
              <mat-card class="text-bold">Move Order No. {{totalStoreOrderDispatching}}</mat-card>
            </div>
          </div>

          <div class="flex">
            <div class="box-1">
              <table class="table table-striped table-bordered nowrap table-responsive-sm" style="width: 100%"
                id="GridView2">
                <thead>
                  <tr>

                    <th>ID</th>
                    <th>Description</th>
                    <th>Uom</th>
                    <th>Serve</th>
                    <th class="hideObject">Total Items</th>
                    <th class="text-center">Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of itemList">
      
                    <td>{{item.id}}</td>
                    <td>{{item.mrs_item_description}}</td>
                    <td>{{item.mrs_uom}}</td>
                    <td>{{item.prepared_allocated_qty | number}}</td>
                    <td class="hideObject">{{c | number}}</td>
                    <td class="text-center">
                

                      <button (click)="onReturnItemClick(item)" data-toggle="modal" data-target="#returnOrderItemModal"
                      data-backdrop="false" data-keyboard="false" class="editbtnStyle" color="warn"
                      mat-stroked-button>
                      <span class="fa fa-ban"></span> return
                    </button>&nbsp;

                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div>
        </div>

        <!-- <div class="modal-footer">
          <button mat-stroked-button color="primary" id="ApproveButton" [hidden]="hideApproveButton" class="mr-2"
            (click)="approvedOrder()" [disabled]="!approvalForm.valid">Approve</button>
          <button [hidden]="true" mat-stroked-button color="warn" data-dismiss="modal"
            id="closeApprovalModal">Cancel</button>

          <ng-container *ngIf="hideApproveButton">
            <p style="color: red; margin:auto">
              You can't approve this order, due to cancelled Item/s!
            </p>
          </ng-container>

        </div> -->
      </div>
    </div>
  </div>
</form>
<!-- Cancel Item -->
<form [formGroup]="cancelOrderItemForm">
  <div class="modal" role="dialog" id="cancelOrderItemModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <div class="modal-content" style="width:auto">
        <div class="modal-header bg-all">
          <div class="modal-title white-color">Cancel Order Item</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">

          <mat-form-field class="w-100" [hidden]="true" floatLabel="auto" appearance="outline" color="primary">
            <input type="text" matInput formControlName="id" readonly="readonly">
            <mat-label>Individual Id</mat-label>
          </mat-form-field>

          <mat-form-field class="w-100" floatLabel="auto" appearance="outline" color="primary">
            <input type="text" matInput formControlName="mrs_item_code" readonly="readonly">
            <mat-label>Item Code</mat-label>
          </mat-form-field>

          <mat-form-field class="w-100" floatLabel="auto" appearance="outline" color="primary">
            <input type="text" matInput formControlName="mrs_item_description" readonly="readonly">
            <mat-label>Item Description</mat-label>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label style="color:red">Reason</mat-label>
            <mat-select formControlName="cancel_reason">
              <mat-option *ngFor="let status of CancelPoSummary | async" [value]="status.status_name">
                {{status.status_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="modal-footer">
          <button mat-stroked-button color="accent" id="cancelOrderCloseModal" [hidden]="true" data-dismiss="modal"
            class="mr-2">Cancel</button>
          <button mat-stroked-button color="warn" class="" data-dismiss="modal" [disabled]="!cancelOrderItemForm.valid"
            (click)="cancelOrderItem()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>


<!-- Return Partial Item -->
<form [formGroup]="cancelOrderItemForm">
  <div class="modal" role="dialog" id="returnOrderItemModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <div class="modal-content" style="width:auto">
        <div class="modal-header bg-all">
          <div class="modal-title white-color">Return Order Item</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">

          <mat-form-field class="w-100" [hidden]="true" floatLabel="auto" appearance="outline" color="primary">
            <input type="text" matInput formControlName="id" readonly="readonly">
            <mat-label>Individual Id</mat-label>
          </mat-form-field>

          <mat-form-field class="w-100" floatLabel="auto" appearance="outline" color="primary">
            <input type="text" matInput formControlName="mrs_item_code" readonly="readonly">
            <mat-label>Item Code</mat-label>
          </mat-form-field>

          <mat-form-field class="w-100" floatLabel="auto" appearance="outline" color="primary">
            <input type="text" matInput formControlName="mrs_item_description" readonly="readonly">
            <mat-label>Item Description</mat-label>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label style="color:red">Reason</mat-label>
            <mat-select formControlName="cancel_reason">
              <mat-option *ngFor="let status of CancelPoSummary | async" [value]="status.status_name">
                {{status.status_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="modal-footer">
          <button mat-stroked-button color="accent" id="returnOrderCloseModal" [hidden]="true" data-dismiss="modal"
            class="mr-2">Cancel</button>
          <button mat-stroked-button color="warn" class="" data-dismiss="modal" [disabled]="!cancelOrderItemForm.valid"
            (click)="returnOrderItemPartial()">Submit</button>
        </div>
      </div>
    </div>
  </div>
  {{cancelOrderItemForm.value | json}}
</form>


<!-- Dispatching Viewing -->
<form [formGroup]="approvalForm" novalidate="novalidate" appClientLocationStatusValidator>
  <div class="modal" role="dialog" id="DispatchingModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="width: auto;">
        <div class="modal-header bg-all">
          <div class="modal-title white-color">Dispatching</div>
          <button type="button" class="close" data-dismiss="modal" (click)="CloseViewOrderRedirectToInternalOrder()"  #closeAddExpenseModal><span>&times;</span></button>
        </div>
        <div class="modal-body">
          <mat-card class="text-bold">Internal Information
          </mat-card><br>

          <div class="form-row">
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput formControlName="prep_date" readonly="readonly">
                <mat-label>Preparation Date</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput formControlName="mrs_req_desc" readonly="readonly">
                <mat-label>Description</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput formControlName="department_name" readonly="readonly">
                <mat-label>Department Name</mat-label>
              </mat-form-field>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" matInput class="text-color" readonly="readonly" name="route" formControlName="mrs_requested_by">
                <mat-label>Requested By</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" matInput class="text-color" readonly="readonly" formControlName="mrs_requested_date">
                <mat-label>Requested Date</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput readonly="readonly" formControlName="recieving_date">
                <mat-label>Receiving Date</mat-label>
              </mat-form-field>
            </div>
          </div>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly" formControlName="id">
            <mat-label>id</mat-label>
          </mat-form-field>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly" formControlName="Is_wh_approved">
            <mat-label>Is_wh_approved</mat-label>
          </mat-form-field>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly" formControlName="Is_wh_approved_by">
            <mat-label>Is_wh_approved_by</mat-label>
          </mat-form-field>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly" formControlName="Is_wh_approved_date">
            <mat-label>Is_wh_approved_date</mat-label>
          </mat-form-field>

          <mat-form-field floatLabel="auto" appearance="outline" color="primary" [hidden]="true">
            <input type="text" class="text-color" matInput readonly="readonly"
              formControlName="Wh_checker_move_order_no">
            <mat-label>Wh_checker_move_order_no</mat-label>
          </mat-form-field>



          <div class="flex">
            <div class="box-1">
              <mat-card class="text-bold">Recieving Information </mat-card>
            </div>
            <div class="box-2">
              <mat-card class="text-bold">Move Order No. <input class="input-transparent" formControlName="Wh_checker_move_order_no" readonly/></mat-card>
            </div>
          </div>

          <div class="flex">
            <div class="box-1">
              <table class="table table-striped table-bordered nowrap table-responsive-sm" style="width: 100%"
                id="GridView2">
                <thead>
                  <tr>

                    <th>ID</th>
                    <th>Description</th>
                    <th>Uom</th>
                    <th>Serve</th>
                    <th class="hideObject">Total Items</th>
           
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of itemList">
     
                    <td>{{item.id}}</td>
                    <td>{{item.mrs_item_description}}</td>
                    <td>{{item.mrs_uom}}</td>
                    <td>{{item.prepared_allocated_qty | number}}</td>
                    <td class="hideObject">{{c | number}}</td>
              
                  </tr>
                </tbody>
              </table>

            </div>
          </div>
        </div>
        <div>
        </div>


      </div>
    </div>
  </div>
</form>


<!-- Cancel Order Parent -->
<form [formGroup]="cancelOrderForm">
  <div class="modal" role="dialog" id="cancelOrderModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <div class="modal-content" style="width:auto">
        <div class="modal-header bg-all">
          <div class="modal-title white-color">Cancel Order Item</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">

          <mat-form-field appearance="fill" class="w-100">
            <mat-label style="color:red">Reason</mat-label>
            <mat-select formControlName="Is_wh_checker_cancel_reason">
              <mat-option *ngFor="let status of CancelPoSummary | async" [value]="status.status_name">
                {{status.status_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        {{cancelOrderForm.value | json}}
        <div class="modal-footer">
          <button mat-stroked-button color="accent" id="cancelOrderCloseModal" [hidden]="true" data-dismiss="modal"
            class="mr-2">Cancel</button>
          <button mat-stroked-button color="warn" class="" data-dismiss="modal" [disabled]="!cancelOrderForm.valid"
            (click)="CancelOrderClick()">Submit</button>
        </div>
      </div>
    </div>
  </div>

</form>