.font-color-black{
    color: black;
}

.hideObject {
  display: none;
}
.haddata {
  display: none;
}
.unsetdata {
  display: unset;
}
.mat-drawer-shown {
  visibility: hidden !important;
}

.zerobadge0 {
  display: none;
}

.text-color{
  color: #36474f;
}

.text-bold {
  font-weight: bold;
}
td {
  vertical-align: middle;
}





