<div class="col-sm-12" style="padding-top: 2em;">
  <div class="d-flex">
    <div class="p-2">
      <div class="input-group searchBtnStyle">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><span class="fa fa-filter"></span></span>
        </div>
        <select class="form-control" id="drpSearchBy" name="SearchBy" [(ngModel)]="searchBy">
          <option value="is_approved_prepa_date">PREPARATION DATE</option>
          <option value="fox">STORE CODE</option>
          <option value="category">CATEGORY</option>
        </select>
      </div>
    </div>

    <div class="p-2">
      <div class="input-group searchBtnStyle">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1"><span class="fa fa-search"></span></span>
        </div>
        <input type="search" 
        class="form-control" 
        placeholder="Find here...." 
        id="txtSearchText" 
        name="SearchText"
        autocomplete="off"
          [(ngModel)]="searchText" (keyup)="onSearchTextKeyup($event)" />
      </div>
    </div>

  </div>

  <!-- table -->
  <div class="col-lg-12">
    <div class="d-flex">
      <div class="col-xl-12 col-lg-9 mx-auto scrollableTableMain">
        <!-- table table-striped table-bordered nowrap table-responsive-sm -->
        <table class="" style="width:100%">
          <thead>
            <tr class="text-light header-bg-color-um system-name">
              <th>Preparation Date</th>
              <th>Category</th>
              <th>Fox</th>
              <th>Store</th>
              <th>Route</th>
              <th>Area</th>
              <th>Total Item(s)</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let item of cancelledOrderList | filter: searchBy : searchText | paging : currentPageIndexCancelledTransaction : pageSize; let i = index">
              <td>{{item.is_approved_prepa_date | date: "MM/dd/yyyy" }}</td>
              <td>{{item.category}}</td>
              <td>{{item.fox}}</td>
              <td>{{item.store_name}}</td>
              <td>{{item.route}}</td>
              <td>{{item.area}}</td>
              <td>{{item.total_state_repack_cancelled_qty | number}}</td>
              <td class="text-center">
                <button (click)="onViewClick(item)" data-toggle="modal" data-target="#viewCancelledOrder"
                  data-backdrop="false" title="View" data-keyboard="false" class="editbtnStyle" color="primary"
                  mat-stroked-button>
                  <span class="fa fa-eye"></span> View
                </button>&nbsp;
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- pagination -->
  <div class="col-md-12">
    <ul class="pagination paginationStyle justify-content-center mt-1">
      <li class="page-item" (click)="onPageIndexClicked(currentPageIndexCancelledTransaction - 1)">
        <a mat-stroked-button color="primary" class="mr-1 font-color-black" href="#" onclick="return false">Prev</a>
      </li>

      <ng-container *ngIf="pagesCancelledTransaction.length <= 10">
        <li class="page-item" *ngFor="let page of pagesCancelledTransaction"
          [ngClass]="{ 'link-active-paging': page.pageIndex == currentPageIndexCancelledTransaction}"
          (click)="onPageIndexClicked(page.pageIndex)">
          <a class="page-link" href="#" onclick="return false">{{page.pageIndex + 1}}</a>
        </li>
      </ng-container>

      <ng-container *ngIf="pagesCancelledTransaction.length > 10">
        <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexCancelledTransaction == 0}"
          (click)="onPageIndexClicked(0)">
          <a class="page-link" href="#" onclick="return false">1</a>
        </li>

        <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexCancelledTransaction == 1}"
          (click)="onPageIndexClicked(1)">
          <a class="page-link" href="#" onclick="return false">2</a>
        </li>

        <li *ngIf="currentPageIndexCancelledTransaction > 1 && currentPageIndexCancelledTransaction < pagesCancelledTransaction.length - 2">&nbsp;...&nbsp;</li>

        <li class="page-item" [ngClass]=" 'link-active-paging' " (click)="onPageIndexClicked(currentPageIndexCancelledTransaction)"
          *ngIf="currentPageIndexCancelledTransaction > 1 && currentPageIndexCancelledTransaction < pagesCancelledTransaction.length - 2">
          <a class="page-link" href="#" onclick="return false">{{currentPageIndexCancelledTransaction + 1}}</a>
        </li>

        <li>&nbsp;...&nbsp;</li>

        <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexCancelledTransaction == pagesCancelledTransaction.length - 2}"
          (click)="onPageIndexClicked(pagesCancelledTransation.length - 2)">
          <a class="page-link" href="#" onclick="return false">{{pagesCancelledTransaction.length - 1}}</a>
        </li>

        <li class="page-item" [ngClass]="{ 'link-active-paging': currentPageIndexCancelledTransaction == pagesCancelledTransaction.length - 1}"
          (click)="onPageIndexClicked(pagesCancelledTransaction.length - 1)">
          <a class="page-link" href="#" onclick="return false">{{pagesCancelledTransaction.length}}</a>
        </li>
      </ng-container>

      <li class="page-item" (click)="onPageIndexClicked(currentPageIndexCancelledTransaction + 1)">
        <a mat-stroked-button color="primary" class="ml-1 font-color-black" href="#" onclick="return false">Next</a>
      </li>
    </ul>
  </div>
</div>

<!-- View Dispatching Details -->
<form [formGroup]="cancelledViewForm">
  <div class="modal" role="dialog" id="viewCancelledOrder" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content" style="width: auto;">
        <div class="modal-header bg-all">
          <div class="modal-title white-color">View Dispatching Details</div>
          <button type="button" class="close" data-dismiss="modal" #closeAddExpenseModal><span>&times;</span></button>
        </div>

        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput formControlName="preparation_date" readonly="readonly">
                <mat-label>Preparation Date</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput formControlName="category" readonly="readonly">
                <mat-label>Category</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput formControlName="store_name" readonly="readonly">
                <mat-label>Store Name</mat-label>
              </mat-form-field>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" matInput class="text-color" readonly="readonly" name="route" formControlName="route">
                <mat-label>Route</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" matInput class="text-color" readonly="readonly" formControlName="area">
                <mat-label>Area</mat-label>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field floatLabel="auto" class="w-100" appearance="outline" color="primary">
                <input type="text" class="text-color" matInput readonly="readonly" formControlName="recieving_date">
                <mat-label>Receiving Date</mat-label>
              </mat-form-field>
            </div>
          </div>

          <mat-card style="font-weight: bold ;">Recieving Information </mat-card>
          <div class="flex">
            <div class="box-1">
              <table class="table table-striped table-bordered nowrap table-responsive-sm" id="GridView2"
                style="width:100%">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Item Code</th>
                    <th>Description</th>
                    <th>Uom</th>
                    <th>Order</th>
                    <th>Serve</th>
                    <th>Action</th>
                  </tr>
                </thead>

                <tbody>
                  <tr *ngFor="let item of cancelledOrderItemList">
                    <td>{{item.primary_id}}</td>
                    <td>{{item.item_code}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.uom}}</td>
                    <td>{{item.qty | number}}</td>
                    <td>{{item.prepared_allocated_qty | number}}</td>
                    <td class="text-center">
                      <button mat-stroked-button color="accent" id="_returnOrderCloseModal" [hidden]="true"
                        data-dismiss="modal" class="mr-2">Cancel</button>
                      <button (click)="returnItemClick(item)" data-toggle="modal" data-target="#returnOrderModal"
                        data-backdrop="false" data-keyboard="false" class="editbtnStyle" color="primary"
                        mat-stroked-button>
                        <span class="fa fa-arrow-circle-left"></span> return
                      </button>&nbsp;
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<!-- Return Order Item -->
<form [formGroup]="returnCancelledOrderForm">
  <div class="modal" role="dialog" id="returnOrderModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-md">
      <div class="modal-content" style="width:auto">
        <div class="modal-header bg-all">
          <div class="modal-title white-color">Return Order Item</div>
          <button type="button" class="close" data-dismiss="modal"><span>&times;</span></button>
        </div>
        <div class="modal-body">

          <mat-form-field class="w-100" [hidden]="true" floatLabel="auto" appearance="outline" color="primary">
            <input type="text" matInput formControlName="FK_dry_wh_orders_parent_id" readonly="readonly">
            <mat-label>Parent Id</mat-label>
          </mat-form-field>

          <mat-form-field class="w-100" floatLabel="auto" appearance="outline" color="primary">
            <input type="text" matInput formControlName="item_code" readonly="readonly">
            <mat-label>Item Code</mat-label>
          </mat-form-field>

          <mat-form-field class="w-100" floatLabel="auto" appearance="outline" color="primary">
            <input type="text" matInput formControlName="item_desc" readonly="readonly">
            <mat-label>Item Description</mat-label>
          </mat-form-field>

          <mat-form-field appearance="fill" class="w-100">
            <mat-label style="color:red">Reason</mat-label>
            <mat-select formControlName="Is_wh_checker_cancel_reason">
              <mat-option *ngFor="let status of reasonList" [value]="status.status_name">
                {{status.status_name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="modal-footer">
          <button mat-stroked-button color="accent" id="returnOrderCloseModal" [hidden]="true" data-dismiss="modal"
            class="mr-2">Cancel</button>
          <button mat-stroked-button color="warn" class="" data-dismiss="modal"
            [disabled]="!returnCancelledOrderForm.valid" (click)="returnItemSubmit()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</form>
