<ngx-spinner>
  <h3>Loading...</h3>
</ngx-spinner>
<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="space-between center" class="nav">
  <!-- left box of toolbar starts -->
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <ng-container *ngIf="loginService.currentUserName != null">
      <button mat-icon-button matTooltip="Sidebar" (click)="drawer.toggle()" (click)="ngOnInit()">
        <mat-icon>menu</mat-icon>
      </button>
    </ng-container>

    <div class="umLogo">
    </div>

  </div>
  <!-- left box of toolbar ends -->

  <!-- center box of toolbar starts -->
  <!-- <div>
    <ng-container *ngIf="loginService.currentUserName != null">
      <button type="button" mat-stroked-button (click)="showStatistics = !showStatistics" fxHide.lt-md="true"
        matTooltip="Click to expand / collapse Statistics" matTooltipPosition="right" matTooltipClass="yellow-back"
        matTooltipShowDelay="200">
        <mat-icon>analytics</mat-icon>
        <span class="ml mr system-name">Statistics</span>
        <mat-icon class="rotatable" [ngClass]="{ 'rotate-180': showStatistics}">keyboard_arrow_down</mat-icon>
      </button>
    </ng-container>
  </div> -->
  <!-- center box of toolbar ends x -->

  <!-- right box of toolbar starts -->
  <div>
    <ng-container *ngIf="loginService.currentUserName != null">
      <button class="system-name" type="button" mat-stroked-button class="mr" fxHide.lt-md="true"
        [matMenuTriggerFor]="user" matTooltip="User" matTooltipClass="yellow-back">
        <mat-icon>account_circle</mat-icon> {{loginService.currentUserName | uppercase}}
      </button>

      <!-- <button type="button" mat-icon-button [matMenuTriggerFor]="notifications" class="ml mr" matTooltip="Notifications"
        matTooltipClass="yellow-back">
        <mat-icon matBadge="2" matBadgeColor="accent">notifications</mat-icon>
      </button>

      <button type="button" mat-icon-button [matMenuTriggerFor]="topmenu" matTooltip="Menu"
        matTooltipClass="yellow-back">
        <mat-icon>more_vert</mat-icon>
      </button> -->
    </ng-container>
  </div>

  <!-- menu starts -->
  <mat-menu #topmenu="matMenu">

    <a [routerLink]=" [ '/about' ] " mat-menu-item>About</a>
    <ng-container *ngIf="loginService.currentUserName != null && loginService.currentUserRoleSession == 'Admin'">

      <button mat-menu-item [matMenuTriggerFor]="user">User</button>
    </ng-container>

  </mat-menu>

  <mat-menu #bookings="matMenu">
    <a [routerLink]="[ '/booking' ]" mat-menu-item>New Booking</a>
    <a [routerLink]="[ '/bookings-list' ]" mat-menu-item>Bookings List</a>
  </mat-menu>

  <mat-menu #user="matMenu">
    <a class="nav-link" href="#" (click)="loginService.Logout()">Logout</a>
  </mat-menu>

  <mat-menu #notifications="matMenu">
    <button mat-menu-item>
      <mat-icon>email</mat-icon> Email from Converge
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item>
      <mat-icon>receipt_long</mat-icon> Send Bills to Customers
    </button>
  </mat-menu>

  <!-- menu ends -->
</mat-toolbar>


<mat-expansion-panel [expanded]="showStatistics">
  <div class="mt" fxLayout="row" fxLayoutAlign="space-evenly center" fxLayoutGap="20px">
    <div class="font-weight-bold">PO Summary:</div>
    <div matTooltip="Total Bookings in this week" matRipple class="p-10 hand-icon">
      <div>This Week:</div>
      <div class="font-weight-bold">{{108 | number}} Received</div>
    </div>

    <div matTooltip="Total Bookings in this month" matRipple class="p-10 hand-icon">
      <div>This Month:</div>
      <div class="font-weight-bold">{{1595 | number}} Received</div>
    </div>

    <div matTooltip="Total Bookings in this year" matRipple class="p-10 hand-icon">
      <div>This Year:</div>
      <div class="font-weight-bold">{{5894 | number}} Received</div>
    </div>
  </div>
</mat-expansion-panel>




<!-- Navigation **************************************************************************************************** -->
<mat-drawer-container class="drawer-container" [hasBackdrop]="true">
  <mat-drawer #drawer class="drawer" mode="push">
    <div class="user-logo">
      <mat-icon class="user-icon">person_outline</mat-icon>
      <div class="v-align-middle">{{loginService.currentUserRoleSession | uppercase}}</div>
    </div>
    <mat-divider></mat-divider>

    <!-- ADMIN ******************************************************************************************************************** -->
    <!-- <ng-container *ngIf="loginService.currentUserName != null && loginService.currentUserRoleSession == 'Admin'"> -->
      <ng-container *ngIf="loginService.currentUserName != null">
      <mat-nav-list class="sidebar-navlist">
        <a class="system-name" [routerLink]="[  '/admin', 'dashboard'  ]" mat-list-item routerLinkActive="link-active">
          <mat-icon>dashboard_customize</mat-icon>
          &nbsp;Dashboard
        </a>
        <!-- PO Dashboard Module -->

        <!-- PO Recieving Module -->
        <ng-container *ngIf="QCReceiving === 1 ">
          <a class="system-name" [routerLink]=" [ '/admin', 'qc-recieving' ] " mat-list-item
            routerLinkActive="link-active">
            <mat-icon>local_shipping</mat-icon>&nbsp; QC Receiving &nbsp;&nbsp;
            <span class="badge badge-pill badge-danger zerobadge{{ totalPoRowCount | number}}">{{ totalPoRowCount |
              number}}</span>
          </a>
        </ng-container>

        <!-- wh recieving Module -->
        <ng-container *ngIf="WhReceiving === 1 ">
          <a [routerLink]=" [ '/admin', 'wh-recieving' ] " mat-list-item routerLinkActive="link-active">
            <mat-icon>inventory_2</mat-icon>&nbsp;WH Receiving &nbsp;&nbsp;
            <span class="badge badge-pill badge-danger zerobadge{{ totalPoPartialReceiving | number}}">{{
              totalPoPartialReceiving | number}}</span>
          </a>
        </ng-container>

        <!-- Approval Module -->
        <ng-container *ngIf="Approval === 1 ">
          <a class="system-name" mat-list-item routerLinkActive="link-active" #menuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="menu1">
            <mat-icon>check_box</mat-icon>
            &nbsp;Approval &nbsp;&nbsp;
            <span
              class="badge badge-pill badge-danger zerobadge{{totalPoPartialRejectatWH  + totalPoPartialReceivingNearlyExpiryApproval}}">{{
              totalPoPartialRejectatWH + totalPoPartialReceivingNearlyExpiryApproval }}</span>
          </a>


          <mat-menu #menu1="matMenu">
            <ng-container *ngIf="NearlyExpiryApproval === 1 ">
              <button mat-menu-item routerLinkActive="link-active">
                <span [routerLink]=" [ '/admin', 'nearly-expiry' ] ">Nearly Expiry</span> &nbsp;&nbsp;
                <span
                  class="badge badge-pill badge-danger zerobadge{{ totalPoPartialReceivingNearlyExpiryApproval | number }}">{{
                  totalPoPartialReceivingNearlyExpiryApproval | number }}</span>

              </button>
            </ng-container>
            <ng-container *ngIf="WHRejection === 1 ">
              <button mat-menu-item routerLinkActive="link-active">
                <!-- <mat-icon matBadgeColor="warn">category</mat-icon> -->
                <span [routerLink]=" [ '/admin', 'wh-rejection'] ">WH Rejection</span> &nbsp;&nbsp;
                <span class="badge badge-pill badge-danger zerobadge{{ totalPoPartialRejectatWH | number }}">{{
                  totalPoPartialRejectatWH | number }}</span>
              </button>
            </ng-container>
          </mat-menu>

          <!-- Approval Module -->
        </ng-container>

        <ng-container *ngIf="LabTest === 1 ">
          <!-- Lab Test Module -->
          <a [routerLink]=" ['/admin', 'forlabtest'] " mat-list-item routerLinkActive="link-active">
            <mat-icon>hourglass_empty</mat-icon>&nbsp;Lab Test &nbsp;&nbsp;
            <span class="badge badge-pill badge-danger zerobadge{{ totalforlabtestforapproval | number }}">{{
              totalforlabtestforapproval | number }}</span>
          </a>
        </ng-container>

        <!-- Preparation Module -->
        <ng-container *ngIf="Preparation === 1 ">
          <a class="system-name" mat-list-item routerLinkActive="link-active" #menuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="menu_prep">
            <mat-icon>add_shopping_cart</mat-icon>
            &nbsp;Preparation &nbsp;&nbsp;
            <span class="badge badge-pill badge-danger zerobadge{{ totalPreparationBadge | number }}">{{
              totalPreparationBadge | number }}</span>
          </a>
          <mat-menu #menu_prep="matMenu">
            <button mat-menu-item>
              <!-- <mat-icon>add_shopping_cart</mat-icon> -->
              <span [routerLink]=" [ '/admin', 'store-order' ] ">Store Order/s <span
                  class="badge badge-pill badge-danger zerobadge{{ totalPreparationBadge | number }}">{{
                  totalPreparationBadge | number }}</span></span>
            </button>
            <button mat-menu-item>
              <!-- <mat-icon>add_shopping_cart</mat-icon> -->
              <span [routerLink]=" [ '/admin', 'internal-order' ] ">Internal Order/s</span>
            </button>
          </mat-menu>
        </ng-container>

        <!-- Online MRS Module -->
        <ng-container *ngIf="OnlineMrs === 1 ">
          <a class="system-name" [routerLink]="[  '/admin', 'online-mrs'  ]" mat-list-item
            routerLinkActive="link-active">
            <mat-icon>wallpaper</mat-icon>
            &nbsp;Online MRS &nbsp;&nbsp;
            <span class="badge badge-pill badge-danger zerobadge{{ totalPreparationBadge | number }}">{{
              totalPreparationBadge | number }}</span>
          </a>
        </ng-container>

        <!-- Set Up Module -->
        <ng-container *ngIf="SetUp === 1 ">
          <a class="system-name" mat-list-item routerLinkActive="link-active" #menuTrigger="matMenuTrigger"
            [matMenuTriggerFor]="menu">
            <mat-icon>settings_suggest</mat-icon>&nbsp;Set Up
          </a>
          <mat-menu #menu="matMenu">

            <button mat-menu-item *ngIf="UserModules === 1 ">

              <span [routerLink]=" [ '/admin','masters','parent-main-modules' ] ">User Modules</span>
            </button>

            <button mat-menu-item *ngIf="UserManagement === 1 ">
              <span [routerLink]=" [ '/admin', 'masters','user' ] ">User Management</span>
            </button>
            <button mat-menu-item *ngIf="RMReceiving === 1">
              <span [routerLink]=" [ '/admin', 'masters','rmclassification' ] ">RM Receiving</span>
            </button>

            <button mat-menu-item *ngIf="RMCancelAndReturn === 1">
              <!-- <mat-icon>query_stats</mat-icon> -->
              <span [routerLink]=" [ '/admin', 'masters','rmcancelandreturn' ] ">RM Cancel & Return</span>
            </button>

            <button mat-menu-item *ngIf="LabProcedureAndRemarks === 1">
              <span [routerLink]=" [ '/admin', 'masters','labtest' ] ">Laboratory Procedures and Remarks</span>
            </button>

            <button mat-menu-item *ngIf="QcCheckList === 1">
              <span [routerLink]=" [ '/admin', 'masters','qc-master-list' ] ">QC Check List</span>
            </button>

          </mat-menu>
        </ng-container>
      </mat-nav-list>

    </ng-container>


    <!-- Warehouse Checker ******************************************************************************************************** -->
    <!-- <ng-container
      *ngIf="loginService.currentUserName != null && loginService.currentUserRoleSession == 'WarehouseChecker'">

    </ng-container> -->


    <!-- QC STAFF ***************************************************************************************************************** -->
    <!-- <ng-container *ngIf="loginService.currentUserName != null && loginService.currentUserRoleSession == 'QC Staff'">

    </ng-container> -->



    <!-- QC SUPERVISOR *********************************************************************************************************** -->
    <!-- <ng-container *ngIf="loginService.currentUserName != null && loginService.currentUserRoleSession == 'QCSupervisor'"> -->



  </mat-drawer>

  <div class="main">
    <div class="container-fluid" [@routeAnimations]="getState(outlet)">
      <router-outlet #outlet="outlet"></router-outlet>
    </div>

  </div>

  <div class="footerStyle">
    <p>Copyright @ 2022 - Ultra Maverick System</p>
  </div>
</mat-drawer-container>