.span-size {
  font-size: 10px;
  font-weight: bold;
}


.text-search-btn {
  background-color: #319b95;
  color: white;
  border: none !important;
  min-height: 1em !important;

  :hover {
    background-color: #cfd9f0;
  }
}

th {
  font-weight: bold !important;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue
}

input:focus {
  border-color: green
}

select {
  outline: 0;
  border-width: 0 0 2px;
  border-color: blue
}

select:focus {
  border-color: green
}

.text-required-color {
  background-color: #FFF8DC !important;
}

.italic-text {
  font-weight: bold;
  font-style: italic;
}

.required-text {
  background-color: cornsilk;
}

.disable-text {
  background-color: rgb(255, 255, 255);
}

.space-div {
  padding-right: 10px;
}

.btn-search {
  background-color: #4d616a;
  color: white;
  border: none;
}

.display-none {
  display: none;
}

.order-title {
  text-align: center;
  font-size: 14px;
  padding-bottom: 5px;
}


// Create two equal columns that floats next to each other bobo ka
.column {
  float: left;
  width: 100%;
  padding: 0%;
  // height: 300px;
}

.title-tagging-desc{
  text-align: center;
  font-size: 20px;
  margin: 5px;
}

// Clear floats after the column
.row:after {
  content: "";
  display: table;
  clear: both;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


.visibility-hidden{
  display: none;
}
