.hideObject {
  display: none;
}
.projectcard {
  height: 450px;
}

::ng-deep .cdk-overlay-container {
  z-index: 1200 !important;
}
.zerobadge0 {
  display: none;
}
.font-color-black {
  color: black;
}

.color-red {
  color: red;
}

.text-green{
  color: #36474f;
}

div#headingOne {
  padding: 1px;
  background-color: #36474f;
}

.checklist-text-color{
  color: white;
  font-size: 10px;
}

.tbl-text{
  font: 12px Roboto, "Helvetica Neue", sans-serif ;
}

td {
  vertical-align: middle;
}